<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

  <% if @user.errors.any? %>
    <div class="alert alert-block alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>You got <%= pluralize(@user.errors.count, "error") %></h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :first_name %>

  <%= f.text_field :last_name %>

  <%= f.text_field :email %>

  <%= f.password_field :password %>

  <%= f.password_field :password_confirmation %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', users_path, :class => 'btn' %>
  </div>

<% end %>
