<%= form_for(@order, html: { class: "form-horizontal" }) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :status, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :status %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payment_method, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :payment_method %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :delivery_address, class: "control-label" %>
    <div class="controls">
      <%= f.text_area :delivery_address %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :delivery_city, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :delivery_city %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :customer_name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :customer_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :line_items, "Products", class: "control-label" %>
    <div class="controls">
      <div class="breadcrumb">
        <%= f.fields_for :line_items do |fields| %>
          <%= render 'form_line_items', :f => fields %>
        <% end %>
      </div>
      <%= link_to_function "Add Item", "add_line_item()", class: "btn btn-small btn-success" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Save', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
