<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @order.payment_method %>
</p>

<p>
  <strong>Delivery address:</strong>
  <%= @order.delivery_address %>
</p>

<p>
  <strong>Delivery city:</strong>
  <%= @order.delivery_city %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @order.customer_name %>
</p>

<p>
  <td colspan="8">
    <strong>Products:</strong><br>
    <ol>
      <% for line_items in @order.line_items %>
      <li><%= line_items.product.name %> (Quantity: <%= line_items.quantity %>) (Unit Price: <%= line_items.price %>)</li>
      <% end %>
    </ol>
  </td>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
