<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  
  <% if @product.errors.any? %>
    <div class="alert alert-block alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>You got <%= pluralize(@product.errors.count, "error") %></h4>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>

  <%= f.text_field :description %>

  <%= f.text_field :manufacturer %>

  <%= f.text_field :quantity %>

  <%= f.jquery_datetime_select :registred_at %>

  <%= f.text_field :category %>

  <%= f.text_field :price %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', products_path, :class => 'btn' %>
  </div>

<% end %>
