<!DOCTYPE html>
<html>
<head>
  <title>Shopmz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="/">Shop M.Z.</a>
      <ul class="nav">
        <li class="active">
          <%= link_to "Home" %>
        </li>
        <li>
          <%= link_to "Orders", orders_path %>
        </li>
        <li>
          <%= link_to "Products", products_path %>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="/login">Log In</a></li>
        <li><a href="#">/</a></li>
        <li><a href="/login">Register</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <% unless flash[:error].blank? %>
      <div class="alert alert-error"><%= flash[:error] %></div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
